@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@font-face {
    font-family: "Tungsten";
    src: url("~assets/fonts/Tungsten-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "DIN";
    src: url("~assets/fonts/DIN.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');