@import '~styles/misc/fonts';
@import '~styles/misc/colors';
@import '~styles/misc/mixins';


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: $white;
    text-rendering: optimizeLegibility;

    background: linear-gradient(90deg, #1b2026 21px, transparent 1%) center,linear-gradient(#1b2026 21px, transparent 1%) center,#364461;
    background-size: 22px 22px;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0) #181b21;
}

#root {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);


    @include flex($align: flex-start);
    box-sizing: border-box;
    padding: 0 0 300px 0;

    max-width: 1500px;
    flex-wrap: wrap;

    header {
        font-family: DIN;
        font-size: 470px;
        z-index: 1;
        color: transparent;
        opacity: 0.15;
        text-transform: uppercase;
        position: absolute;
        top: -100px;
        left: -150px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #364461;
    }

    .project {
        z-index: 30;
        position: relative;
        background-color: red;
        margin: 50px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        width: 148px;
        height: 148px;
        flex-basis: 148px;
        @include flex();
        border-radius: 11px;
        transition: all .3s;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 142px;
            height: 142px;
            border: 3px solid rgba(255, 255, 255, 0.08);
            border-radius: 11px;
            z-index: 50;
        }

        .image-container {
            position: absolute;
            top: 0;
            left: 0;
            @include flex();
            width: 100%;
            height: 100%;
            background-color: green;
            border-radius: 11px;
            z-index: 49;

            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &:hover {
            transform: scale(1.1);

            .project-title {
                //bottom: -30px;
                opacity: 1;
            }

            .image-shadow {
                opacity: 0.5;
            }
        }

        .image-shadow {
            //width: 120px;
            //height: 120px;
            opacity: 0;
            z-index: 1;
            filter: blur(16px);
            transition: all .5s;
        }

        .project-url {
            z-index: 51;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .project-title {
            position: absolute;
            bottom: 0;
            font-family: "Open Sans";
            color: #fff;
            text-transform: lowercase;
            transition: all .2s;
            font-size: 14px;
            letter-spacing: .015em;
            width: 100%;
            //background-color: #181b21;
            background-image: url("https://www.artstation.com/assets/overlay-no-triangle-8b663a51a46d250dd293a1339636491e.png");
            background-position: 100% 100%;
            @include flex;
            box-sizing: border-box;
            padding: 10px;
            z-index: 50;
            border-radius: 11px;
            opacity: 0;
            height: 100%;
        }
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #181b21;
}